html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
}

.line-segment {
  transition: border-color 0.3s;
}

.active .line-segment {
  border-color: #0d4c8f;
}

.bg-blue-500 {
  background-color: #0d4c8f;
}
.active-heading {
  color: #0d4c8f;
  transition: color 0.3s;
}

.svg-filter {
  filter: brightness(0) saturate(100%) invert(12%) sepia(90%) saturate(3697%)
    hue-rotate(201deg) brightness(99%) contrast(90%);
  filter: brightness(0) saturate(100%) invert(54%) sepia(19%) saturate(2995%)
    hue-rotate(123deg) brightness(95%) contrast(101%);
}
